/*@media queries///////////////////////////////////////////////////////*/

@media screen and (min-width: 426px) /*and (max-width: 1500px) */ {
    nav .divbar {
      margin: 10px 50px 10px 50px;
      background-color: #e7d4cf;
    }
  
    @media screen and (min-width: 1200px) {
      #coeur {
        padding-left: 70px;
      }
      /* main video {
        width: 60%;
      } */
      /* main .divvideo {
        margin: 20px 200px 0px 200px;
      } */
    }
  }
  @media screen and(max-width:500px) {
    #photo2 {
      margin-top: 10px;
      padding: 0px;
    }
  }
  